# Port configuration
PORT=3000

# Next.js environment configurations
NEXT_PUBLIC_APP_NAME="improv-assist"

# Notion API Integrations
NOTION_API_KEY="your-notion-integration-token-here"
NOTION_DATABASE_ID="your-database-or-page-id-here"

# Docker Environment Configuration
APP_DOMAIN=localhost
DOCKER_NETWORK_NAME=improv_local_network
DOCKER_NETWORK_EXTERNAL=false
COMPOSE_PROFILES=""

# Google Tag Configuration
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# n8n Webhook Security Token
X_N8N_TOKEN="your-n8n-webhook-security-token-here"
N8N_BASE_URL="https://n8n.yourdomain.com"

